.btn-ref{
    border-radius: 6px;
    font-size:90%;
    box-shadow: none;
}

.info{
    background-color: cornflowerblue;
    color: white;
}

.success{
    background-color: rgb(27, 87, 0);
    color: white;
}

.warning{
    background-color: rgb(136, 134, 10);
    color: white;
}

.error{
    background-color: rgb(119, 13, 13);
    color: white;
}

.main-content{
    font-size: larger;
    margin-top: 2%;
    margin-bottom: 2%;
}

.centered{
    align-content: center;
    align-items: center;
    text-align: center;
}

.text-info{
    background-color: rgba(128, 225, 255, 0.212);
    margin: auto;
}

.li-nav-def{
    margin: 3%;
    font-family: monospace;
}

hr{
    margin-left: 15%;
    margin-right: 15%;
}